.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3aafa9;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  font-family: "Montserrat-light";
  padding: 5px;
  color: #feffff;
}

.smallText {
  font-size: calc(1px + 2vmin);
  color: rgb(0, 0, 0);
}

.bkg {
  background-color: #2b7a78;
  display: flex;
  flex-direction: column;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat-Black;
  color: #feffff;
  letter-spacing: 2px; 
}
.p.center{
  letter-spacing: 1px;
}
.h1.center{
  font-size:40px;
}


.new-line {
  white-space: pre-line;
}

.button {
  background-color: #3aafa9; 
  border-width: 0.8vh;
  border-color: #feffff;
  border-style: solid;
  color: #feffff;
  padding: 1.6vh 3vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 25%;
  margin-left: 37.5%;
  font-family: Montserrat-SemiBold;
  font-size: 5vh;
  transition: background-color, border-radius, border-width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; 
}

.button:hover {
  cursor: pointer;
  background-color: #2b7a78;
  border-width: 1.6vh; 
  border-radius: 5vh;
  /* animation: colorChange 3s infinite */
  
}


/* @keyframes colorChange {
  0% {background-color: #3aafa9;}
  50% {background-color: #2b7a78;}
  100% {background-color: #3aafa9;}

  0%{height:25%;}
  100%{height:100%;}
} */

.redtext{
  color: #17252A;
  opacity: 0;
  font-family: Montserrat-SemiBold;
  text-align: center;
  animation-name: allertTextAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes allertTextAnimation {
  0% {opacity:0;}
  100%{opacity:1;}
}

.left {
  justify-content: left;
  align-items: left;
  flex-direction: column;
  margin-left: 15vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.checkmark {
  top: 0;
  left: 0;
  height: 2vh;
  width: 2vh;
  background-color: rgb(14, 12, 12);
  
}


@font-face {
  font-family: 'Montserrat-light';
  src: local('Montserrat-light'), url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat-SemiBold'), url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Black';
  src: local('Montserrat-Black'), url('./fonts/Montserrat-Black.ttf') format('truetype');
}


.results{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat-light;
  color: #feffff;
  font-size:50px;
}

.results-header {
  background-color: #3aafa9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  font-family: "Montserrat-light";
  padding: 5px;
  color: #feffff;
}

.sidenav {
  width: 240px;
  background: #2b7a78;
  align-items: left;
  position: absolute;
  left: -100%;
  height: 50vh;
  padding: 0 30px;
  transition: all 1s;
}

.sidenav.active {
  left: 0;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat-Light;
  color: #feffff;
  letter-spacing: 2px; 
}
.h2.info{
  font-size:20px;
}
.h3.info{
  font-size:10px;
}
.h4.info{
  font-size:5px;
}



header svg { 
  right: 0;
  position: absolute;
  font-size: 12vh;
  padding: 9px 15px;
  color: #feffff;
}